


.header{

	background-image: url(../img/bg.jpg);
	height: 796px;
}
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 50px 0;
}



nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Roboto";
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}



.logo h1{
	    margin-left: 69px;
	    font-family: 'Kanit', sans-serif;
    color: #E59205;
    margin-top: 50px;
    font-size: 63px;
}
.eudora {
	color:white;
	margin-top: 250px
}
.butone{
	background:transparent;
	height: 50px;
	width: 142px;
	margin-left: 87px;
	margin-top: 50px;
}
.sale{
	background-color: white;
	height: 800px;
}
.lorem{
	margin-top: 50px;
	color:#6e7498;
	text-align: center;
}
.btn{
	background: transparent;
	border: 1px solid #6e7498;;
}
.meat{
	margin-top: 45px;
	background-color: #e59205;
	border: none;
	height: 52px;
    width: 128px;
}
.meat h4{
	color:white;

}
.albtn{
	height: 64px;
    width: 161px;
    background: transparent;
    border: 1px solid grey;
    margin-left:17px;
    margin-top: 20px;
}
.galery3 h1{
	color:#e59205;
	text-align: center;
}
.galery3 p{
	color:grey;
	text-align: center;
}
.galery3 h3{
	margin-left: 10px;
	text-align: center;
}
.albtn1{
	    height: 47px;
    width: 101px;
    background: transparent;
    border: 1px solid grey;
    margin-left:17px;
    margin-top: 20px;
}
.galerys{
	margin-top: 44px;
    margin-left: 53px;
}
.galerys:hover{
	height: 200px;
	
	opacity: .7;
}